@font-face { 
    font-family: "raleway"; 
    src: url('../../components/assets/fonts/Raleway-VariableFont_wght.ttf');  
}
.mainCont{
    position: relative;
    padding-bottom: 15px;
}
.subCont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

