@font-face { 
    font-family: "raleway"; 
    src: url('../../components/assets/fonts/Raleway-VariableFont_wght.ttf');  
}

.container{
    position: relative;
    /* padding-top: 40px; */
}

.brand{
    font-family: "raleway";
    font-size: 28px;
    line-height: 27px;
    color: #1D1F22;
    font-weight: 600;
    margin-top: 2px;
}
