@font-face { 
    font-family: "raleway"; 
    src: url('../../components/assets/fonts/Raleway-VariableFont_wght.ttf');  
}
.header {
    display : flex;
    justify-content : space-between;
    align-items: center;
    height: 80px;
}

.cart {
   flex-grow: 1;
   flex-basis: 0;
}

.vector{
    width:10px;
    height:5px;
    padding:10px;
}
.cart{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:max-content;
    position: relative;
}

.mainButton{
    cursor: pointer;
}
.mainButton:hover{
    width: 45px;
}

