.item{
    width:max-content;
    margin:10px 0 !important;
    padding:20px 0;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #E5E5E5;
}
.calc{
    display: none;
}

.info1{
    min-width: 200px;
}
.info1 > h1{
    font-family: "raleway";
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
    color: #1D1F22;
}
.subTitle{
    font-family: 'roboto-condensed';
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #1D1F22;
}
.attribute >div{
    width: max-content;
    display: flex;
    flex-direction: row;
}
.attribute >div >div {
    border: 1px solid #1D1F22;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:10px;
    font-family: "sans-pro";
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #292929;
    padding:7px 10px
    
}
.quantityChange{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
}
.totalPrice{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    font-weight: bold;
}
.cartImage{
    width:150px;
    background-size:contain;
    background-repeat:no-repeat;
    margin-top: 10px;
}
.quantity > span{
    border: 1px solid #1D1F22;
    padding: 4px 8px;
    margin:20px
}
.quantity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin:0 20px;
}