.cartImg{
    width: 25px;
    height: 25px;
}
.cartLength{
    font-family: "raleway";
}

.cartLENGTH{
    width:20px;
    height:20px;
    background-color:black;
    border-radius:50%;
    position:absolute;
    top:-20%;
    right:-1.6%;
    color:white;
    text-align:center;
    font-weight:bold
}
.cartLENGTH > p{
    transform: translateY(-17px);
}

.cartItems{
    position: absolute;
    box-shadow: 0 0 4px #ccc;
    min-width: 400px;
    width: max-content;
    height: max-content;
    max-height: 550px;
    top:100%;
    right: -20px;
    background-color: white;
    z-index:3;
    padding:20px;
    overflow-y: auto;

}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    margin-bottom: 25px;
}
.viewBAG{
    text-decoration: none;
    color: black;
    border:1px solid #1D1F22;
    padding:11px 0;
    text-align: center;
    width:48%;
    font-family: "raleway";
}
.checkOUT{
    text-decoration: none;
    color: white;
    padding:11px 0;
    text-align: center;
    background-color: #5ECE7B;
    border:1px solid #5ECE7B;
    width:48%; 
    font-family: "raleway";
}
.hide{
    display: none;
}


